<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.srtravelexpress">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SRTRAVELEXPRESS">
        <activity
            android:name=".Buslist"
            android:exported="true" />
        <activity
            android:name=".CustomerTicketCancelActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerCareActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerHelpActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerPaymentSystemActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerSeatSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerTicketDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerProfileActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerHomeActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerBookingActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerSignUpActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerLoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>